# Criando a tabela cursos
Os cursos serão lidos a partir de uma página HTML.

## Preparando o ambiente

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip3 install html5lib
!pip install lxml

Requirement already satisfied: html5lib in c:\users\salatiel.bairros\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\salatiel.bairros\anaconda3\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\salatiel.bairros\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\salatiel.bairros\anaconda3\lib\site-packages (4.5.2)

In [3]:
import html5lib

In [4]:
url = 'https://tabela-cursos.herokuapp.com/index.html'

## Carregando os dados

In [5]:
cursos = pd.read_html(url)
cursos

[                          Nome do curso
 0                 Lógica de programação
 1                         Java para Web
 2                           C# para Web
 3                         Ruby on Rails
 4                      Cursos de Python
 5                         PHP com MySql
 6                         .NET para web
 7            Novas integrações com Java
 8                          TDD com Java
 9                   Código limpo com C#
 10  Preparatório para certificação Java
 11                      Hardware básico
 12                Persistência com .NET
 13                  Desenvolvendo jogos
 14                     Análise de dados
 15                   Estatística básica
 16                  Internet das coisas
 17                Programação funcional
 18                Boas práticas em Java
 19          Orientação objetos com Java]

In [7]:
# Está sendo lido como List e não como DataFrame
type(cursos)

list

In [8]:
# Ao chamar o HTMl, ele retorna uma lista de dataframes. Caso existam várias tabelas, retornarão vários dataframes.
type(cursos[0])

pandas.core.frame.DataFrame

In [9]:
cursos = cursos[0]
cursos

                          Nome do curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

## Tratamento dos dados

In [11]:
cursos.columns = ['nome_do_curso']
cursos

                          nome_do_curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [13]:
cursos['id'] = cursos.index + 1
cursos.set_index('id', inplace = True)
cursos

                          nome_do_curso
id
1                 Lógica de programação
2                         Java para Web
3                           C# para Web
4                         Ruby on Rails
5                      Cursos de Python
6                         PHP com MySql
7                         .NET para web
8            Novas integrações com Java
9                          TDD com Java
10                  Código limpo com C#
11  Preparatório para certificação Java
12                      Hardware básico
13                Persistência com .NET
14                  Desenvolvendo jogos
15                     Análise de dados
16                   Estatística básica
17                  Internet das coisas
18                Programação funcional
19                Boas práticas em Java
20          Orientação objetos com Java

## Salvando os dados

In [14]:
cursos.to_json('dados/cursos.json')
pd.read_json('dados/cursos.json')

                          nome_do_curso
1                 Lógica de programação
10                  Código limpo com C#
11  Preparatório para certificação Java
12                      Hardware básico
13                Persistência com .NET
14                  Desenvolvendo jogos
15                     Análise de dados
16                   Estatística básica
17                  Internet das coisas
18                Programação funcional
19                Boas práticas em Java
2                         Java para Web
20          Orientação objetos com Java
3                           C# para Web
4                         Ruby on Rails
5                      Cursos de Python
6                         PHP com MySql
7                         .NET para web
8            Novas integrações com Java
9                          TDD com Java

In [15]:
cursos.dtypes

nome_do_curso    object
dtype: object