# Lendo e escrevendo SQL
## Preparação do ambiente

In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\salatiel.bairros\anaconda3\lib\site-packages (1.3.18)

In [5]:
from sqlalchemy import create_engine, MetaData, Table

In [6]:
# Cria banco SQLite na memória local
engine = create_engine('sqlite:///:memory:')

In [7]:
type(engine)

sqlalchemy.engine.base.Engine

## Carregando os dados

In [14]:
alunos = pd.read_json('dados/nomes.json')
matriculas_curso = pd.read_json('dados/matriculas_curso.json')
cursos = pd.read_json('dados/cursos.json')
matriculas = pd.read_json('dados/matriculas.json')

## Salvando matrículas por aluno no banco de dados criado

In [15]:
matriculas_curso.to_sql('matriculas_curso', engine)
engine.table_names()

ValueError: Table 'matriculas_curso' already exists.

## Lendo dados
Os dados serão buscados utilizando queries sql

In [10]:
query = 'select * from matriculas_curso where quantidade_alunos < 20'
resultado = pd.read_sql(query, engine)
resultado

   index  id_curso  quantidade_alunos                        nome_do_curso
0      0         1                  2                Lógica de programação
1      1         2                 18                        Java para Web
2     10        11                  6  Preparatório para certificação Java
3     13        14                  3                  Desenvolvendo jogos
4     16        17                  5                  Internet das coisas
5     18        20                 10          Orientação objetos com Java

In [12]:
# Comando alternativo para buscar sem precisar escrever sql
pd.read_sql_table('matriculas_curso', engine, columns=['nome_do_curso', 'quantidade_alunos'])

                          nome_do_curso  quantidade_alunos
0                 Lógica de programação                  2
1                         Java para Web                 18
2                           C# para Web                 27
3                         Ruby on Rails                 97
4                      Cursos de Python                 50
5                         PHP com MySql                 77
6                         .NET para web                 81
7            Novas integrações com Java                 39
8                          TDD com Java                 88
9                   Código limpo com C#                 74
10  Preparatório para certificação Java                  6
11                      Hardware básico                 54
12                Persistência com .NET                 63
13                  Desenvolvendo jogos                  3
14                     Análise de dados                 56
15                   Estatística básica                 26
16                  Internet das coisas                  5
17                Programação funcional                 46
18          Orientação objetos com Java                 10