In [5]:
import pandas as pd

In [12]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, 0.8, None]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9     0.80
10     NaN
dtype: float64

In [13]:
# lembrando que não altera o array
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.80
10    0.00
dtype: float64

In [14]:
# Preenche os nulos com o valor anterior
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.80
10    0.80
dtype: float64

In [16]:
# Preenche os nulos com os valores do próximo
# Se o último for nulo ele permanece nulo
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.80
10     NaN
dtype: float64

In [17]:
# Preenche com a média
s.fillna(s.mean())

0     0.500000
1     0.591667
2     0.591667
3     0.520000
4     0.540000
5     0.591667
6     0.591667
7     0.590000
8     0.600000
9     0.800000
10    0.591667
dtype: float64