# Organizando os DataFrames - Ordenação

## Preparando o ambiente

In [2]:
import pandas as pd

In [3]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
# Ao passar uma string para um list cada caractere se torna um item dessa lista
list('321')

['3', '2', '1']

In [5]:
# Dados, Linhas (índice), Colunas
df = pd.DataFrame(data, list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

## Ordenação dos dados (linhas e colunas)

In [6]:
# Ordenou pelas linhas (índices)
df.sort_index(inplace = True)
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [7]:
# Ordenou as colunas
df.sort_index(inplace = True, axis = 1)
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [8]:
# Ordena pela coluna indicada
df.sort_values(by = 'x', inplace = True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

In [9]:
# Ordenou pela linha definida
df.sort_values(by = '3', axis = 1, inplace = True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

## Exercício

In [10]:
data = [[9, 6, 3], [8, 5, 2], [7, 4, 1]]
df = pd.DataFrame(data, list('ZYX'), list('CBA'))
df

   C  B  A
Z  9  6  3
Y  8  5  2
X  7  4  1

### Comando a ser executado no exercício

In [11]:
# Não conta, pois não altera o array (inplace)
df.sort_index()

# Não conta, pois não altera o array (inplace)
df.sort_index(axis = 1)

#Exibe como resultado, portanto, o mesmo DataFrame
df

   C  B  A
Z  9  6  3
Y  8  5  2
X  7  4  1