# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [ ]:
!python -V

Python 3.6.9

# 1.3 Trabalhando com dados

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('db.csv', sep=';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

# 2.2 Seleções em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

### Desempacotamento de tuplas

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
# ZIP: cria duplas pelo índice dos arrays (a[0], b[0]), (a[1], b([1]))
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
#de-constroi a tupla na iteração.
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
dicionario = {'Jetta Variant':88078.64, 'Passat':106161.94,'Crossfox':72832.16 }
dicionario

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
type(dicionario)

dict

### Criando dicionários com *zip()*

In [ ]:
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

## *len(dict)*

Retorna o número de itens do dicionário.

## *dict[ key ] = value*

Inclui um item ao dicionário.

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário (atualizar e incluir informações).

## *dict.copy()*

Cria uma cópia do dicionário (deep copy).

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

## *dict.clear()*

Remove todos os itens do dicionário.

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dicionario = {"A": 1, "B": 2, "C": 3}

In [ ]:
dicionario.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
[print(x) for x in dicionario.keys()]

A
B
C

[None, None, None]

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dicionario.values()

dict_values([1, 2, 3])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
# retorna uma lista de tuplas
dicionario.items()

dict_items([('A', 1), ('B', 2), ('C', 3)])

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
dados.items()

dict_items([('Crossfox', {'km': 35000, 'ano': 2005}), ('DS5', {'km': 17000, 'ano': 2015}), ('Fusca', {'km': 130000, 'ano': 1979}), ('Jetta', {'km': 56000, 'ano': 2011}), ('Passat', {'km': 62000, 'ano': 1999})])

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({item[0]: media})
    return result

In [ ]:
print(km_media(dados, 2020))

{'Crossfox': 2333.3333333333335, 'DS5': 3400.0, 'Fusca': 3170.731707317073, 'Jetta': 6222.222222222223, 'Passat': 2952.3809523809523}

In [ ]:
def segundo_km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result
print(segundo_km_media(dados, 2020))

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2333.3333333333335}, 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 3400.0}, 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3170.731707317073}, 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 6222.222222222223}, 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 2952.3809523809523}}

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [3]:
carros = ["Ká", "Siena", "Palio"]

In [5]:
pd.Series(carros)

0       Ká
1    Siena
2    Palio
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [7]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [9]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [13]:
#altera a ordem das colunas se alterar o dataset, mas retorna outro com a ordenação
dataset[["Nome", "Motor", "Quilometragem", "Ano", "Valor", "Zero_km"]]

            Nome            Motor  Quilometragem   Ano      Valor  Zero_km
0  Jetta Variant  Motor 4.0 Turbo        44410.0  2003   88078.64    False
1         Passat     Motor Diesel         5712.0  1991  106161.94    False
2       Crossfox  Motor Diesel V8        37123.0  1990   72832.16    False

### Criando um DataFrame a partir de um dicionário

In [14]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [15]:
dataset = pd.DataFrame(dados)

In [16]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [ ]:
dataset = pd.read_csv('db.csv', sep=";")

### Exercício DataFrames

In [19]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

kmMedia = km_media(dados, 2020)

In [25]:
# .T => Transpose - Transforma linhas em colunas
carros = pd.DataFrame(kmMedia).T
carros

                km     ano     km_media
Crossfox   35000.0  2005.0  2333.333333
DS5        17000.0  2015.0  3400.000000
Fusca     130000.0  1979.0  3170.731707
Jetta      56000.0  2011.0  6222.222222
Passat     62000.0  1999.0  2952.380952

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [26]:
dataset = pd.read_csv('db.csv', sep=";")

In [27]:
# Primeiros 5 registros
dataset.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [28]:
dataset["Valor"]

0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64

In [30]:
# DataFrame retorna um conjunto de Series
type(dataset["Valor"])

pandas.core.series.Series

In [31]:
# porém se a seleção for da forma abaixo, retorna um DataFrame
type(dataset[["Valor"]])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

A seleção é idêntica às listas.

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [35]:
#busca informações da linha, como uma Series, a partir do índice definido para o dataset
# loc -> Localizar
dataset.loc[1]

Nome                                                        Passat
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: 1, dtype: object

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

Exatamente como o loc, porém ao invés de utilizar o índice definido, sempre utiliza o índice numérico.

### Exercício 1

In [37]:
dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

exDataset = pd.DataFrame(dados)
exDataset

       Nome            Motor   Ano  Quilometragem  Zero_km     Valor
0     Jetta  Motor 4.0 Turbo  2019            0.0     True   88000.0
1    Passat     Motor Diesel  2003         5712.0    False  106000.0
2  Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
3       DS5        Motor 2.0  2019            0.0     True   89000.0
4     Fusca        Motor 1.6  1990       120000.0    False   32000.0

In [39]:
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

       Nome   Ano  Quilometragem      Valor
1    Passat  1991         5712.0  106161.94
2  Crossfox  1990        37123.0   72832.16

### Exercício 2

In [44]:
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

sDataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])
sDataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5             Motor 2.0  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [53]:
sDataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Queries com DataFrames

In [54]:
dataset.Motor

0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [57]:
select = dataset.Motor == "Motor Diesel"

In [58]:
dataset[select]

                      Nome  ...      Valor
1                   Passat  ...  106161.94
23   Effa Hafei Picape Baú  ...  125684.65
60                 Sorento  ...   81399.35
62        New Fiesta Hatch  ...   66007.16
69          Kangoo Express  ...  146716.91
74                     Fit  ...   77836.23
78             Cielo Hatch  ...  145197.70
86                  Symbol  ...  133030.60
89                A4 Sedan  ...   96369.04
111               A4 Avant  ...  138946.88
119          Silver Shadow  ...  143568.22
124                  Camry  ...  138597.27
145                   Clio  ...  111130.33
148       Série 3 M3 Coupé  ...   69219.89
149    Gallardo LP 560 – 4  ...  144118.91
157          Chana Utility  ...  132662.32
173            TT Roadster  ...   85311.40
189    Aston Martin Virage  ...   97290.18
208                Sandero  ...  112350.61
210                    XKR  ...   54263.16
211                     X5  ...   62041.32
226           Dodge Dakota  ...  141083.35
233                 i30 CW  ...   73311.75
237           Série 7 Sedã  ...   67539.79
240                    V60  ...  114728.74
256       Aston Martin DB5  ...  122110.90

[26 rows x 7 columns]

In [63]:
dataset[(dataset.Motor == "Motor Diesel") & (dataset.Ano > 2000) | (dataset.Ano == 1991)]

                      Nome  ...      Valor
1                   Passat  ...  106161.94
23   Effa Hafei Picape Baú  ...  125684.65
29                     V40  ...  120432.70
33               Ford F100  ...   65955.40
60                 Sorento  ...   81399.35
62        New Fiesta Hatch  ...   66007.16
69          Kangoo Express  ...  146716.91
74                     Fit  ...   77836.23
78             Cielo Hatch  ...  145197.70
86                  Symbol  ...  133030.60
89                A4 Sedan  ...   96369.04
111               A4 Avant  ...  138946.88
119          Silver Shadow  ...  143568.22
124                  Camry  ...  138597.27
144         Passat Variant  ...   69535.44
148       Série 3 M3 Coupé  ...   69219.89
157          Chana Utility  ...  132662.32
183           Cadillac ATS  ...  122069.97
189    Aston Martin Virage  ...   97290.18
208                Sandero  ...  112350.61
211                     X5  ...   62041.32
227                     X1  ...  102968.76
228                    GLA  ...   76310.01
233                 i30 CW  ...   73311.75
237           Série 7 Sedã  ...   67539.79
240                    V60  ...  114728.74
254  Cadillac Ciel concept  ...   51667.06

[27 rows x 7 columns]

### Utilizando o método query

In [68]:
# Escreve a query em código python, mas isso não permitiria script injection, por exemplo?
dataset.query('Motor == "Motor Diesel" and Ano > 2000')

                    Nome  ...      Valor
60               Sorento  ...   81399.35
62      New Fiesta Hatch  ...   66007.16
69        Kangoo Express  ...  146716.91
74                   Fit  ...   77836.23
78           Cielo Hatch  ...  145197.70
86                Symbol  ...  133030.60
89              A4 Sedan  ...   96369.04
111             A4 Avant  ...  138946.88
119        Silver Shadow  ...  143568.22
124                Camry  ...  138597.27
148     Série 3 M3 Coupé  ...   69219.89
157        Chana Utility  ...  132662.32
189  Aston Martin Virage  ...   97290.18
208              Sandero  ...  112350.61
211                   X5  ...   62041.32
233               i30 CW  ...   73311.75
237         Série 7 Sedã  ...   67539.79
240                  V60  ...  114728.74

[18 rows x 7 columns]

### Exercício

In [69]:
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [70]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5          Motor Diesel  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [71]:
dataset.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [72]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Zero_km == True)]

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [74]:
# as duas maneiras (&/and |/or) funcionam no query
dataset.query('Motor == "Motor Diesel" | Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

# 5.4 Iterando com DataFrames

In [76]:
dataset = pd.read_csv('db.csv', sep=';')

In [79]:
#tupla(indice, series com dados)
list(dataset.iterrows())

[(0, Nome                                                 Jetta Variant
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2003
  Quilometragem                                                44410
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Valor                                                      88078.6
  Name: 0, dtype: object),
 (1, Nome                                                        Passat
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                                 5712
  Zero_km                                                      False
  Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Valor                                                       106162
  Name: 1, dtype: object),
 (2, Nome                                                      Crossfox
  Motor                                              Motor Diesel V8
  Ano                                                           1990
  Quilometragem                                                37123
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Valor                                                      72832.2
  Name: 2, dtype: object),
 (3, Nome                                                           DS5
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Valor                                                       124549
  Name: 3, dtype: object),
 (4, Nome                                              Aston Martin DB4
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2006
  Quilometragem                                                25757
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Valor                                                      92612.1
  Name: 4, dtype: object),
 (5, Nome                                                 Palio Weekend
  Motor                                                Motor 1.8 16v
  Ano                                                           2012
  Quilometragem                                                10728
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Valor                                                      97497.7
  Name: 5, dtype: object),
 (6, Nome                                                            A5
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Valor                                                      56445.2
  Name: 6, dtype: object),
 (7, Nome                                                Série 3 Cabrio
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                                77599
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Valor                                                       112310
  Name: 7, dtype: object),
 (8, Nome                                                  Dodge Jorney
  Motor                                                Motor 3.0 32v
  Ano                                                           2010
  Quilometragem                                                99197
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Valor                                                       120716
  Name: 8, dtype: object),
 (9, Nome                                                        Carens
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2011
  Quilometragem                                                37978
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Valor                                                      76566.5
  Name: 9, dtype: object),
 (10, Nome                                                     Ford Edge
  Motor                                              Motor Diesel V6
  Ano                                                           2002
  Quilometragem                                                12859
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Valor                                                      71647.6
  Name: 10, dtype: object),
 (11, Nome                                                       Courier
  Motor                                              Motor Diesel V8
  Ano                                                           2007
  Quilometragem                                                 8052
  Zero_km                                                      False
  Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Valor                                                      73919.5
  Name: 11, dtype: object),
 (12, Nome                                                          S-18
  Motor                                                     Motor V6
  Ano                                                           2001
  Quilometragem                                                89773
  Zero_km                                                      False
  Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Valor                                                       112733
  Name: 12, dtype: object),
 (13, Nome                                                            J5
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Valor                                                      53183.4
  Name: 13, dtype: object),
 (14, Nome                                                  F-Type Coupé
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2009
  Quilometragem                                                41457
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                       127488
  Name: 14, dtype: object),
 (15, Nome                                                           RAM
  Motor                                              Motor Diesel V8
  Ano                                                           2016
  Quilometragem                                               115607
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Valor                                                      59910.4
  Name: 15, dtype: object),
 (16, Nome                                                       Série 1
  Motor                                                Motor 3.0 32v
  Ano                                                           2012
  Quilometragem                                                46449
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Valor                                                      61118.6
  Name: 16, dtype: object),
 (17, Nome                                                            A3
  Motor                                                 Motor 1.0 8v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                      88552.4
  Name: 17, dtype: object),
 (18, Nome                                                          XC90
  Motor                                                 Motor 1.0 8v
  Ano                                                           2016
  Quilometragem                                                37086
  Zero_km                                                      False
  Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Valor                                                      62696.7
  Name: 18, dtype: object),
 (19, Nome                                                RS 3 Sportback
  Motor                                                Motor 3.0 32v
  Ano                                                           2017
  Quilometragem                                                15173
  Zero_km                                                      False
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                       101726
  Name: 19, dtype: object),
 (20, Nome                                                  Pajero Sport
  Motor                                                 Motor 1.0 8v
  Ano                                                           2002
  Quilometragem                                               101193
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Valor                                                       106147
  Name: 20, dtype: object),
 (21, Nome                                                     Série 1 M
  Motor                                                     Motor V8
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Valor                                                      94564.4
  Name: 21, dtype: object),
 (22, Nome                                           Lamborghini Obvious
  Motor                                              Motor Diesel V6
  Ano                                                           1994
  Quilometragem                                                98079
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Valor                                                       133530
  Name: 22, dtype: object),
 (23, Nome                                         Effa Hafei Picape Baú
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                               102959
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Valor                                                       125685
  Name: 23, dtype: object),
 (24, Nome                                        Lamborghini Murciélago
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Valor                                                       121596
  Name: 24, dtype: object),
 (25, Nome                                                           Up!
  Motor                                              Motor Diesel V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Valor                                                      71367.1
  Name: 25, dtype: object),
 (26, Nome                                            Fiesta Rocam Sedan
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2016
  Quilometragem                                                 5795
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Valor                                                      95347.8
  Name: 26, dtype: object),
 (27, Nome                                               Sandero Stepway
  Motor                                                Motor 3.0 32v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Valor                                                       105433
  Name: 27, dtype: object),
 (28, Nome                                                      Cayman S
  Motor                                                Motor 3.0 32v
  Ano                                                           2002
  Quilometragem                                                58848
  Zero_km                                                      False
  Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Valor                                                      57045.3
  Name: 28, dtype: object),
 (29, Nome                                                           V40
  Motor                                              Motor 4.0 Turbo
  Ano                                                           1991
  Quilometragem                                                94381
  Zero_km                                                      False
  Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Valor                                                       120433
  Name: 29, dtype: object),
 (30, Nome                                                Classe SLS AMG
  Motor                                                 Motor 1.0 8v
  Ano                                                           1997
  Quilometragem                                                30163
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Valor                                                      70707.2
  Name: 30, dtype: object),
 (31, Nome                                                        Gol G4
  Motor                                                Motor 2.0 16v
  Ano                                                           1995
  Quilometragem                                                53332
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Valor                                                      69105.2
  Name: 31, dtype: object),
 (32, Nome                                                         Linea
  Motor                                                 Motor 1.0 8v
  Ano                                                           2018
  Quilometragem                                                17720
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Valor                                                      59358.7
  Name: 32, dtype: object),
 (33, Nome                                                     Ford F100
  Motor                                                Motor 2.0 16v
  Ano                                                           1991
  Quilometragem                                                33808
  Zero_km                                                      False
  Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Valor                                                      65955.4
  Name: 33, dtype: object),
 (34, Nome                                                            J2
  Motor                                                     Motor V8
  Ano                                                           2014
  Quilometragem                                                90684
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Valor                                                        60017
  Name: 34, dtype: object),
 (35, Nome                                              Aston Martin DBS
  Motor                                                     Motor V8
  Ano                                                           1995
  Quilometragem                                                43975
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Valor                                                       118910
  Name: 35, dtype: object),
 (36, Nome                                                    Pajero TR4
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Valor                                                      51606.6
  Name: 36, dtype: object),
 (37, Nome                                                    Polo Sedan
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Valor                                                       123282
  Name: 37, dtype: object),
 (38, Nome                                                    California
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                                 5526
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...

In [81]:
for index, row in dataset.iterrows():
  print(index, row)

0 Nome                                                 Jetta Variant
Motor                                              Motor 4.0 Turbo
Ano                                                           2003
Quilometragem                                                44410
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Valor                                                      88078.6
Name: 0, dtype: object
1 Nome                                                        Passat
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: 1, dtype: object
2 Nome                                                      Crossfox
Motor                                              Motor Diesel V8
Ano                                                           1990
Quilometragem                                                37123
Zero_km                                                      False
Acessórios       ['Piloto automático', 'Controle de estabilidad...
Valor                                                      72832.2
Name: 2, dtype: object
3 Nome                                                           DS5
Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Valor                                                       124549
Name: 3, dtype: object
4 Nome                                              Aston Martin DB4
Motor                                              Motor 2.4 Turbo
Ano                                                           2006
Quilometragem                                                25757
Zero_km                                                      False
Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
Valor                                                      92612.1
Name: 4, dtype: object
5 Nome                                                 Palio Weekend
Motor                                                Motor 1.8 16v
Ano                                                           2012
Quilometragem                                                10728
Zero_km                                                      False
Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
Valor                                                      97497.7
Name: 5, dtype: object
6 Nome                                                            A5
Motor                                              Motor 4.0 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Câmbio automático', 'Câmera de estacionament...
Valor                                                      56445.2
Name: 6, dtype: object
7 Nome                                                Série 3 Cabrio
Motor                                                 Motor 1.0 8v
Ano                                                           2009
Quilometragem                                                77599
Zero_km                                                      False
Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
Valor                                                       112310
Name: 7, dtype: object
8 Nome                                                  Dodge Jorney
Motor                                                Motor 3.0 32v
Ano                                                           2010
Quilometragem                                                99197
Zero_km                                                      False
Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
Valor                                                       120716
Name: 8, dtype: object
9 Nome                                                        Carens
Motor                                        Motor 5.0 V8 Bi-Turbo
Ano                                                           2011
Quilometragem                                                37978
Zero_km                                                      False
Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
Valor                                                      76566.5
Name: 9, dtype: object
10 Nome                                                     Ford Edge
Motor                                              Motor Diesel V6
Ano                                                           2002
Quilometragem                                                12859
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
Valor                                                      71647.6
Name: 10, dtype: object
11 Nome                                                       Courier
Motor                                              Motor Diesel V8
Ano                                                           2007
Quilometragem                                                 8052
Zero_km                                                      False
Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
Valor                                                      73919.5
Name: 11, dtype: object
12 Nome                                                          S-18
Motor                                                     Motor V6
Ano                                                           2001
Quilometragem                                                89773
Zero_km                                                      False
Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
Valor                                                       112733
Name: 12, dtype: object
13 Nome                                                            J5
Motor                                                     Motor V6
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
Valor                                                      53183.4
Name: 13, dtype: object
14 Nome                                                  F-Type Coupé
Motor                                        Motor 5.0 V8 Bi-Turbo
Ano                                                           2009
Quilometragem                                                41457
Zero_km                                                      False
Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
Valor                                                       127488
Name: 14, dtype: object
15 Nome                                                           RAM
Motor                                              Motor Diesel V8
Ano                                                           2016
Quilometragem                                               115607
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
Valor                                                      59910.4
Name: 15, dtype: object
16 Nome                                                       Série 1
Motor                                                Motor 3.0 32v
Ano                                                           2012
Quilometragem                                                46449
Zero_km                                                      False
Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
Valor                                                      61118.6
Name: 16, dtype: object
17 Nome                                                            A3
Motor                                                 Motor 1.0 8v
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
Valor                                                      88552.4
Name: 17, dtype: object
18 Nome                                                          XC90
Motor                                                 Motor 1.0 8v
Ano                                                           2016
Quilometragem                                                37086
Zero_km                                                      False
Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
Valor                                                      62696.7
Name: 18, dtype: object
19 Nome                                                RS 3 Sportback
Motor                                                Motor 3.0 32v
Ano                                                           2017
Quilometragem                                                15173
Zero_km                                                      False
Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
Valor                                                       101726
Name: 19, dtype: object
20 Nome                                                  Pajero Sport
Motor                                                 Motor 1.0 8v
Ano                                                           2002
Quilometragem                                               101193
Zero_km                                                      False
Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
Valor                                                       106147
Name: 20, dtype: object
21 Nome                                                     Série 1 M
Motor                                                     Motor V8
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Controle de estabilidade', 'Central multimíd...
Valor                                                      94564.4
Name: 21, dtype: object
22 Nome                                           Lamborghini Obvious
Motor                                              Motor Diesel V6
Ano                                                           1994
Quilometragem                                                98079
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
Valor                                                       133530
Name: 22, dtype: object
23 Nome                                         Effa Hafei Picape Baú
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               102959
Zero_km                                                      False
Acessórios       ['Controle de estabilidade', 'Painel digital',...
Valor                                                       125685
Name: 23, dtype: object
24 Nome                                        Lamborghini Murciélago
Motor                                        Motor 5.0 V8 Bi-Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
Valor                                                       121596
Name: 24, dtype: object
25 Nome                                                           Up!
Motor                                              Motor Diesel V6
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
Valor                                                      71367.1
Name: 25, dtype: object
26 Nome                                            Fiesta Rocam Sedan
Motor                                              Motor 4.0 Turbo
Ano                                                           2016
Quilometragem                                                 5795
Zero_km                                                      False
Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
Valor                                                      95347.8
Name: 26, dtype: object
27 Nome                                               Sandero Stepway
Motor                                                Motor 3.0 32v
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
Valor                                                       105433
Name: 27, dtype: object
28 Nome                                                      Cayman S
Motor                                                Motor 3.0 32v
Ano                                                           2002
Quilometragem                                                58848
Zero_km                                                      False
Acessórios       ['Câmbio automático', 'Sensor de estacionament...
Valor                                                      57045.3
Name: 28, dtype: object
29 Nome                                                           V40
Motor                                              Motor 4.0 Turbo
Ano                                                           1991
Quilometragem                                                94381
Zero_km                                                      False
Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
Valor                                                       120433
Name: 29, dtype: object
30 Nome                                                Classe SLS AMG
Motor                                                 Motor 1.0 8v
Ano                                                           1997
Quilometragem                                                30163
Zero_km                                                      False
Acessórios       ['Sensor de estacionamento', 'Controle de esta...
Valor                                                      70707.2
Name: 30, dtype: object
31 Nome                                                        Gol G4
Motor                                                Motor 2.0 16v
Ano                                                           1995
Quilometragem                                                53332
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
Valor                                                      69105.2
Name: 31, dtype: object
32 Nome                                                         Linea
Motor                                                 Motor 1.0 8v
Ano                                                           2018
Quilometragem                                                17720
Zero_km                                                      False
Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
Valor                                                      59358.7
Name: 32, dtype: object
33 Nome                                                     Ford F100
Motor                                                Motor 2.0 16v
Ano                                                           1991
Quilometragem                                                33808
Zero_km                                                      False
Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
Valor                                                      65955.4
Name: 33, dtype: object
34 Nome                                                            J2
Motor                                                     Motor V8
Ano                                                           2014
Quilometragem                                                90684
Zero_km                                                      False
Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
Valor                                                        60017
Name: 34, dtype: object
35 Nome                                              Aston Martin DBS
Motor                                                     Motor V8
Ano                                                           1995
Quilometragem                                                43975
Zero_km                                                      False
Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
Valor                                                       118910
Name: 35, dtype: object
36 Nome                                                    Pajero TR4
Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
Valor                                                      51606.6
Name: 36, dtype: object
37 Nome                                                    Polo Sedan
Motor                                                     Motor V6
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
Valor                                                       123282
Name: 37, dtype: object
38 Nome                                                    California
Motor                                                 Motor 1.0 8v
Ano                                                           2009
Quilometragem                                                 5526
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...
Valor                                                      69770.2
Name: 38, dtype: object
39 Nome                                                           S60
Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...
Valor                                                       102610
Name: 39, dtype: object
40 Nome                                                        Tucson
Motor                                                Motor 2.0 16v

In [88]:
for indice, linha in dataset.iterrows():
  if(2019 - row['Ano'] > 0):
    dataset.loc[indice, 'Km_media'] = row['Quilometragem'] / (2019 - row["Ano"])
  else:
    dataset.loc[indice, 'Km_media'] = 0

dataset

                      Nome                  Motor  ...      Valor     Km_media
0            Jetta Variant        Motor 4.0 Turbo  ...   88078.64  1858.814815
1                   Passat           Motor Diesel  ...  106161.94  1858.814815
2                 Crossfox        Motor Diesel V8  ...   72832.16  1858.814815
3                      DS5        Motor 2.4 Turbo  ...  124549.07  1858.814815
4         Aston Martin DB4        Motor 2.4 Turbo  ...   92612.10  1858.814815
..                     ...                    ...  ...        ...          ...
253           Phantom 2013               Motor V8  ...   51759.58  1858.814815
254  Cadillac Ciel concept               Motor V8  ...   51667.06  1858.814815
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  ...   68934.03  1858.814815
256       Aston Martin DB5           Motor Diesel  ...  122110.90  1858.814815
257                  Macan        Motor Diesel V6  ...   90381.47  1858.814815

[258 rows x 8 columns]

# 5.5 Tratamento de dados

In [89]:
#seleção de nulos
dataset.Quilometragem.isna()

0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Quilometragem, Length: 258, dtype: bool

In [90]:
dataset[dataset.Quilometragem.isna()]

                     Nome            Motor  ...      Valor     Km_media
3                     DS5  Motor 2.4 Turbo  ...  124549.07  1858.814815
6                      A5  Motor 4.0 Turbo  ...   56445.20  1858.814815
13                     J5         Motor V6  ...   53183.38  1858.814815
17                     A3     Motor 1.0 8v  ...   88552.39  1858.814815
21              Série 1 M         Motor V8  ...   94564.40  1858.814815
..                    ...              ...  ...        ...          ...
238  Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86  1858.814815
242            Benni Mini         Motor V8  ...  126247.84  1858.814815
243                   Uno  Motor Diesel V6  ...  128852.21  1858.814815
245              Santa Fe    Motor 3.0 32v  ...  129415.33  1858.814815
248                  XC60  Motor 4.0 Turbo  ...   77675.79  1858.814815

[61 rows x 8 columns]

In [91]:
dataset.fillna(0, inplace=True)

In [92]:
dataset

                      Nome                  Motor  ...      Valor     Km_media
0            Jetta Variant        Motor 4.0 Turbo  ...   88078.64  1858.814815
1                   Passat           Motor Diesel  ...  106161.94  1858.814815
2                 Crossfox        Motor Diesel V8  ...   72832.16  1858.814815
3                      DS5        Motor 2.4 Turbo  ...  124549.07  1858.814815
4         Aston Martin DB4        Motor 2.4 Turbo  ...   92612.10  1858.814815
..                     ...                    ...  ...        ...          ...
253           Phantom 2013               Motor V8  ...   51759.58  1858.814815
254  Cadillac Ciel concept               Motor V8  ...   51667.06  1858.814815
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  ...   68934.03  1858.814815
256       Aston Martin DB5           Motor Diesel  ...  122110.90  1858.814815
257                  Macan        Motor Diesel V6  ...   90381.47  1858.814815

[258 rows x 8 columns]

In [93]:
dataset.query('Zero_km == True')

                     Nome            Motor  ...      Valor     Km_media
3                     DS5  Motor 2.4 Turbo  ...  124549.07  1858.814815
6                      A5  Motor 4.0 Turbo  ...   56445.20  1858.814815
13                     J5         Motor V6  ...   53183.38  1858.814815
17                     A3     Motor 1.0 8v  ...   88552.39  1858.814815
21              Série 1 M         Motor V8  ...   94564.40  1858.814815
..                    ...              ...  ...        ...          ...
238  Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86  1858.814815
242            Benni Mini         Motor V8  ...  126247.84  1858.814815
243                   Uno  Motor Diesel V6  ...  128852.21  1858.814815
245              Santa Fe    Motor 3.0 32v  ...  129415.33  1858.814815
248                  XC60  Motor 4.0 Turbo  ...   77675.79  1858.814815

[61 rows x 8 columns]

In [94]:
dataset = pd.read_csv('db.csv', sep=";")

In [96]:
dataset.dropna(subset=["Quilometragem"], inplace=True)

In [97]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]