# Relatório de análise I
## Importando a base de dados

In [5]:
import pandas as pd

In [6]:
alugueis = pd.read_csv('dados/aluguel.csv', sep=";")

In [7]:
alugueis.sample(5)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1137,Conjunto Comercial/Sala,Centro,0,0,0,460,6000.0,4705.0,1891.0
25303,Conjunto Comercial/Sala,Barra da Tijuca,0,9,0,320,12000.0,6000.0,1348.0
1594,Conjunto Comercial/Sala,Centro,0,0,0,40,1100.0,350.0,NaN
14402,Apartamento,Jardim Botânico,3,2,1,96,3500.0,1210.0,415.0
24650,Apartamento,Leblon,4,3,4,230,12000.0,3100.0,1005.0

## Informações gerais sobre a base de dados

In [11]:
tipos_dado_alugueis = pd.DataFrame(alugueis.dtypes, columns = ["Tipos de dados"])
tipos_dado_alugueis.columns.name = "Variáveis"
tipos_dado_alugueis

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [20]:
shape = alugueis.shape
print(f"A base de dados apresenta {shape[0]} registros (imóveis) e {shape[1]} variáveis")

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis